{% extends "layout.html" %}

{% block link %}
<link href="static/css/index.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="static/js/index.js"></script>
{% endblock %}

{% block title %}
HP : HomePage
{% endblock %}

{% block main %}
    <header class="header index-header">
        <div class="header-box">
            <h1 class="header-box-title">Harry Potter</h1>
            <p>Harry Potter, a young boy living in a magical world, attends Hogwarts School of Witchcraft and Wizardry, where he embarks on thrilling adventures with his friends and ultimately confronts a villain named Lord Voldemort.</p>
        </div>
    </header>

    <div class="houses">
        <div class="houses-logo Gryffindor"></div>
        <div>
            <h2>Gryffindor</h2>
            <p>Gryffindor, one of the Hogwarts houses, valued bravery, nerve, chivalry, and daring. Its emblem was the lion, represented by rubies, and its colors were scarlet and gold. Minerva McGonagall was the recent Head, and the House Ghost was Nearly Headless Nick. Founded by Godric Gryffindor, it embodied the element of fire. The common room, guarded by the Fat Lady's portrait, was in a high tower. Famous members included Dumbledore, Harry Potter, and McGonagall, and the Sword of Gryffindor was their significant object. Their motto was "Forti Animo Estote."</p>
        </div>
    </div>

    <div class="houses reverse">
        <div class="houses-logo Hufflepuff"></div>
        <div>
            <h2>Hufflepuff</h2>
            <p>Hufflepuff, a Hogwarts house, valued hard work, dedication, loyalty, patience, and fair play. The badger was its emblem, represented by yellow diamonds, and its colors were yellow and black. Helga Hufflepuff founded the house, corresponding to the element of earth. The Hufflepuff common room and dormitories were in the basement near the kitchens, accessed by a specific tapping pattern on a barrel. Notable members included Hengist of Woodcroft, Newt Scamander, and Artemisia Lufkin. The significant object was Helga Hufflepuff's Cup, later turned into a Horcrux by Tom Riddle.</p>
        </div>
    </div>

    <div class="houses">
        <div class="houses-logo Ravenclaw"></div>
        <div>
            <h2>Ravenclaw</h2>
            <p>Ravenclaw, a Hogwarts house, valued intelligence, knowledge, curiosity, creativity, and wit. The eagle was its emblem, represented by sapphires, and its colors were blue and bronze. Filius Flitwick served as the Head of House in the 1990s. The Grey Lady, daughter of Rowena Ravenclaw, was the house ghost. Ravenclaw corresponded to the element of air. The common room and dormitories were situated in a tower on the west side of the castle, accessible through a riddle. Notable Ravenclaws included Luna Lovegood, Gilderoy Lockhart, Ignatia Wildsmith, and Garrick Ollivander. The significant object was Rowena Ravenclaw's diadem, later turned into a Horcrux by Tom Riddle.</p>
        </div>
    </div>

    <div class="houses reverse">
        <div class="houses-logo Slytherin"></div>
        <div>
            <h2>Slytherin</h2>
            <p>Slytherin, a Hogwarts house, valued ambition, leadership, self-preservation, cunning, and resourcefulness. Founded by Salazar Slytherin, its emblem was the serpent, represented by emeralds, and its colors were emerald green and silver. Horace Slughorn and Severus Snape served as Heads of Slytherin. The house produced numerous Death Eaters and Dark wizards, including Tom Riddle, Bellatrix Lestrange, and Lucius Malfoy. The Bloody Baron was the house ghost. The Slytherin dormitories and common room were in the Dungeons, beneath the Black Lake. Famous Slytherins included Merlin, Tom Riddle, Draco Malfoy, and Dolores Umbridge. The significant object was Salazar Slytherin's locket, later turned into a Horcrux by Tom Riddle.</p>
        </div>
    </div>
{% endblock %}
